<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="valorLog" source="valor.log" defaultValue="Valor Padrão"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - ${valorLog} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configurando o logger -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>